<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.akampf.fileshare">

    <!-- fine location, access wifi state, change wifi state and internet are all needed for p2p functionality
    "Wi-Fi P2P doesn't require an internet connection, but it does use standard Java sockets, which requires the INTERNET permission."
    https://developer.android.com/training/connect-devices-wirelessly/wifi-direct#permissions
     -->
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET" />


    <application
        <!-- do not allow (cloud) backup for now, until thinking about compatibility with privacy concerns
        by default, nearly all app data files and preferences would be backup up by enabling this
        https://developer.android.com/guide/topics/data/autobackup#EnablingAutoBackup
        `getNoBackupFilesDir` could be used to prevent backup of saved files regardless of this setting:
        https://developer.android.com/reference/android/content/Context.html#getNoBackupFilesDir()
        -->
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>